.cart {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: var(--cart-bg);
    color: var(--cart-text);
    overflow: auto;

    .cart-heading {
        width: 100%;
        padding: calc(var(--rvv));
        padding-bottom: calc(0.2*var(--rvv));
        display: flex;
        align-items: center;
        gap: calc(0.4*var(--rvv));

        .cart-title {
            font-size: calc(var(--rvv));
        }

        .item-count {
            font-size: calc(0.7*var(--rvv));
            width: 15px;
            height: 15px;
            padding: 8px 8px 6px 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid var(--cart-text);
            border-radius: 5px;
            background-color: var(--nav-button-bg);
        }

        .close-cart {
            cursor: pointer;
            margin-left: auto;
            margin-right: calc(2*var(--rvv));
            border: 2px solid var(--cart-text);
            border-radius: 5px;
            background-color: var(--nav-button-bg);
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 100%;
            padding: 5px;
            font-size: calc(0.7*var(--rvv));
            transition: transform 0.1s ease-in-out;

            img {
                height: var(--nav-button-height);
            }
        }

        .close-cart:hover {
            transform: scale(1.05);
        }
    }

    .shipping-notice {
        font-size: calc(0.55*var(--rvv));
        padding: 0 calc(var(--rvv)) calc(0.3*var(--rvv));
        font-style: italic;
    }

    .cart-items {
        padding: 0 calc(var(--rvv));
        margin-bottom: calc(var(--rvv));

        .cart-item {
            display: grid;
            margin: calc(var(--rvv)) 0;
            border-bottom: 2px solid var(--cart-text);
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: calc(0.4*var(--rvv));
            grid-template-areas:
                "cart-item-heading remove-item"
                "cart-item-details cart-item-price";

            .cart-item-heading {
                font-size: calc(0.8*var(--rvv));
                grid-area: cart-item-heading;
                display: flex;
                align-items: flex-end;
            }

            .cart-item-details {
                font-size: calc(0.6*var(--rvv));
                grid-area: cart-item-details;
                display: flex;
                align-items: flex-start;
            }

            .cart-item-price {
                width: fit-content;
                height: fit-content;
                margin-top: auto;
                margin-left: auto;
                font-size: calc(0.8*var(--rvv));
                grid-area: cart-item-price;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                border: 1.5px solid var(--cart-text);
                border-bottom: none;
                border-radius: 5px 5px 0 0;
                padding: 4px;
                background-color: var(--item-price-bg);
            }

            .remove-item {
                color: var(--remove-item-text);
                cursor: pointer;
                font-size: calc(0.5*var(--rvv));
                grid-area: remove-item;
                width: fit-content;
                display: flex;
                height: fit-content;
                margin-left: auto;
                border: 1.5px solid var(--remove-item-text);
                outline: 1.5px solid var(--remove-item-bg);
                border-radius: 5px;
                padding: 4px;
                background-color: var(--remove-item-bg);
            }
        }
    }

    .cart-total {
        padding: 0 calc(var(--rvv));
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-column-gap: calc(var(--rvv));
        grid-row-gap: calc(0.2*var(--rvv));
        font-size: calc(0.8*var(--rvv));
        grid-template-areas:
            "subtotal-label subtotal-amount"
            "tax-label tax-amount"
            "shipping-label shipping-amount"
            "final-total-label final-total-amount";
            
        .subtotal-label {
            grid-area: subtotal-label;
        }
    
        .subtotal-amount {
            grid-area: subtotal-amount;
        }
    
        .tax-label {
            grid-area: tax-label;
        }
    
        .tax-amount {
            grid-area: tax-amount;
        }
    
        .shipping-label {
            grid-area: shipping-label;
        }
    
        .shipping-amount {
            grid-area: shipping-amount;
        }
    
        .final-total-label {
            grid-area: final-total-label;
        }
    
        .final-total-amount {
            grid-area: final-total-amount;
        }
    
        .final-total-label,
        .final-total-amount {
            font-size: calc(var(--rvv));
            margin-top: calc(0.6*var(--rvv));
        }
    }

    .checkout {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .checkout-button {
            cursor: pointer;
            margin: calc(var(--rvv)) 0;
            font-size: 1.5rem;
            padding: calc(0.1*var(--rvv));
            width: 30%;
            max-width: 150px;
            height: 40px;
            border: 2px solid var(--cart-text);
            border-radius: 5px;
            background-color: var(--nav-button-bg);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: transform 0.1s ease-in-out;
        }

        .checkout-button:hover {
            transform: scale(1.05);
        }
    }
}

// desktop:
@media screen and (min-width: 600px) {
    .cart {
        width: 30vw;
        min-width: 500px;
        right: 0;
        margin: calc(0.5*var(--rvv));
        height: 95vh;
        border: 3px solid var(--cart-text);
        border-radius: 10px;

        .cart-items {
            .cart-item {
                .cart-item-price {
                    justify-content: flex-end;
                }
            }
        }

        .checkout {
            .checkout-button {
                font-size: 2rem;
            }
        }
        
    }   
}