.item-page {
    background-color: var(--content-bg);
    color: var(--item-page-text);
    height: 100vh;
    display: flex;
    flex-direction: column;

    .item-page-button {
        color: var(--item-page-text);
        cursor: pointer;
        display: flex;
        justify-content: center;
        background-color: var(--details-bg);
        border-radius: 5px;
        border: 2px solid var(--details-text);
    }

    .item-page-button:visited {
        color: var(--item-page-text);
    }

    .return-to-shop {
        width: fit-content;
        font-size: calc(0.7*var(--rvv));
        padding: 8px;
        margin: calc(0.5*var(--rvv)) 0 0 calc(0.5*var(--rvv));
    }

    .item-details {
        padding: calc(0.5*var(--rvv));
        display: flex;
        flex-direction: column;
        gap: calc(0.2*var(--rvv));
        align-items: center;


        .item-title {
            font-size: calc(var(--rvv));
            font-style: italic;
        }

        .preview-image {
            max-width: 75vw;

            img {
                width: 100%;
                max-width: 750px;
                outline: 3px solid var(--item-image-outline);
                border: 3px solid var(--item-image-border);
            }
        }

        .item-artist {
            font-size: calc(0.8*var(--rvv));
        }

        .item-year {
            font-size: calc(0.7*var(--rvv));
        }

        .item-price {
            font-size: calc(0.9*var(--rvv));
        }

    }

    .add-to-cart,
    .remove-from-cart {
        margin-top: calc(var(--rvv));
        font-size: calc(0.9*var(--rvv));
        padding: 8px;
        align-self: center;
        width: fit-content;
        padding: 8px;

    }

    .remove-from-cart {
        padding: 8px 10px;
        background-color: var(--added-bg);
        border: 1px solid var(--added-text);
        outline: 2px solid var(--added-bg);
        color: var(--added-text);
    }
    
}

@media screen and (min-width: 600px) {
    .item-page {
        .item-page-button {
            transition: transform 0.1s ease-in-out;
        }
        .item-page-button:hover {
            transform: scale(1.05);
        }
        .return-to-shop {
            margin-left: 10vw;
        }
    }
}