.nav-bar {
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "title shop cart";
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    background-color: var(--nav-bg);

    .title-section {
        grid-area: title;
        margin: calc(0.2*var(--rvv)) 0 0 calc(0.5*var(--rvv));
        font-family: 'Leluja';
        
        .title-text {
            font-size: calc(1.7*var(--rvv));

            a {
                color: var(--nav-text);
            }
            a:visited {
                color: var(--nav-text);
            }
        }
        
        .subtitle-text {
            font-size: var(--subtitle-font-size);
            color: var(--nav-text);
        }
    }

    .nav-link {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .link-text {
            height: var(--nav-button-height);
            text-decoration: none;
            border: 1px solid var(--nav-text);
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Leluja';
            font-size: var(--nav-button-font-size);
            margin-top: auto;
            padding: 2px 6px;
            background-color: var(--nav-button-bg);
            color: var(--nav-text);
            transition: transform 0.1s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                color: var(--nav-text);
            }
            a:visited {
                color: var(--nav-text);
            }
        }

        .link-text:hover {
            transform: scale(1.1);
        }
    }
    
    .shop-link {
        grid-area: shop;
    }
    
    .cart-link {
        grid-area: cart;
        margin-right: 10px;
        gap: 5px;

        .cart-link-text {
            .cart-icon {
                margin-left: calc(0.1*var(--rvv));
                height: calc(0.9*var(--nav-button-height));
            }
        }
    }
}


@media screen and (min-width: 600px) {
    
    .nav-bar {
        grid-template-columns: 1fr 400px 1fr;
        grid-column-gap: calc(var(--rvv));
        grid-template-areas: "shop title cart";

        .title-section {
            text-align: center;

            .subtitle-text {
                font-size: calc(0.8*var(--subtitle-font-size));
            }
        }

        .nav-link {
            justify-content: flex-start;

            .shop-link-text {
                margin-left: auto;
            }
        }
    }
}