@keyframes fadeIn {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}

.shop-page {
    background-color: var(--content-bg);
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;

    .search-bar-section {
        margin-top: calc(0.5*var(--rvv));
        height: calc(1.5*var(--rvv));
        width: 500px;
        max-width: 80vw;
        display: flex;
        gap: calc(0.25*var(--rvv));
        justify-content: center;
        align-items: center;

        .search-icon {
            height: 70%;

            img {
                filter: invert(20%) sepia(70%) saturate(451%) hue-rotate(160deg) brightness(90%) contrast(92%);
                height: 100%;
            }
        }

        input {
            color: var(--search-text);
            font-size: calc(0.7*var(--rvv));
            text-align: center;
            font-family: 'Leluja';
            border: 1.5px solid var(--search-text);
            outline: 2px solid var(--search-bg);
            border-radius: 6px;
            padding: 5px;
            background-color: var(--search-bg);
            width: 70vw;
            transition: background-color 0.15s ease-in-out;
        }

        input::placeholder {
            color: var(--search-placeholder);
        }

        input:-ms-input-placeholder {
            color: var(--search-placeholder);
        }

        input::-ms-input-placeholder {
            color: var(--search-placeholder);
        }

        input:focus {
            background-color: var(--search-focus);
            outline: 2px solid var(--search-focus);
        }
    }

    .item-cards {
        padding-top: calc(0.5*var(--rvv));
        display: flex;
        justify-content: center;
        gap: calc(0.5*var(--rvv));
        flex-wrap: wrap;
    
        .item-card {
            color: var(--item-text);
            background-color: var(--item-bg);
            border: 2.5px solid var(--item-text);
            border-radius: 5px;
            width: 42vw;
            max-width: 175px;
            min-height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center; 
    
            .item-title {
                padding: 5px;
                margin-top: calc(0.3*var(--rvv));
                font-size: calc(0.7*var(--rvv));
                text-align: center;
                font-style: italic;
    
                a {
                    color: var(--item-text);
                }
                a:visited {
                    color: var(--item-text);
                }
            }
    
            .item-details {
                margin-bottom: calc(0.3*var(--rvv));
            }
    
            .item-img-container {
                height: 100px;
                max-width: 90%;
                display: flex;
                justify-content: center;
    
                img {
                    border: 2px solid var(--item-image-border);
                    outline: 2px solid var(--item-image-outline);
                    height: 100%;
                }
            }
    
            .item-price {
                font-size: calc(0.7*var(--rvv));
                margin: calc(0.3*var(--rvv)) 0 calc(0.6*var(--rvv));
            }
    
            .card-button {
                color: var(--item-text);
                cursor: pointer;
                font-size: calc(0.5*var(--rvv));
                display: flex;
                justify-content: center;
                background-color: var(--details-bg);
                padding: calc(0.3*var(--rvv));
                border-radius: 5px;
                border: 2px solid var(--details-text);
            }
    
            .card-button:visited {
                color: var(--item-text);
            }

            .view-details {
                margin: auto 0 calc(0.5*var(--rvv));
            }

            .add-to-cart,
            .remove-from-cart {
                margin-bottom: calc(0.5*var(--rvv));
            }
    
            .remove-from-cart {
                background-color: var(--remove-item-bg);
                border: 1.5px solid var(--remove-item-text);
                outline: 1.5px solid var(--remove-item-bg);
                color: var(--remove-item-text);
            }
        }
    }
}

// desktop:
@media screen and (min-width: 600px) {
    .search-bar-section {
        max-width: 40vw;
    }

    .item-cards {
        padding: calc(0.5*var(--rvv)) calc(var(--rvv)) 0;

        .item-card {
            min-width: 250px;
            width: 20vw;

            .item-img-container {
                height: 15vh;

                img {
                    max-height: 95%;
                }
            }

            .card-button {
                transition: transform 0.1s ease-in-out;
            }

            .card-button:hover {
                transform: scale(1.05);
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .item-cards {
        padding: calc(0.5*var(--rvv)) 20vw 0;
    }
}

