.title-section {
    margin: calc(0.2*var(--rvv)) 0 0 calc(0.5*var(--rvv));
    font-family: 'Leluja';

    .title-text {
        font-size: calc(1.7*var(--rvv));
    }

    .subtitle-text {
        font-size: calc(0.9*var(--nav-text));
    }
    
}

@media screen and (min-width: 600px) {
    .title-section {
        .subtitle-text {
            font-size: var(--nav-text);
        }   
    } 
}